@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index';

body {
    background-color: lightgray;
    padding-top: 48px;
}

/* COMPONENTS */
.video-row {
    padding-bottom: 24px;
    border-bottom: 1px solid #999;
}

.video-row:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.new-label {
    position: relative;
    top: -2px;
}

.u-flex--space-between {
    justify-content: space-between;
}

.u-flex--center-vertically {
    align-items: center;
}

.pdf-render h1 {
    font-size: 24px !important;
}

/* OVERWRITES */

* {
    border-radius: 0 !important;
}
